body{
	height: 500px;
}
#bg {
	height: 750px;
	width: 1120px;
/*	background: url("../img/bg.png") no-repeat; */	
	position: absolute;
}

#centre{
	height: 750px;
	width: 1120px;
	/*background: url("../img/child.png") no-repeat;*/
	position: absolute;
}

#fg{
	height: 750px;
	width: 1120px;
	/*background: url("../img/fg.png") no-repeat;*/
	position: absolute;
}