.grid{
    display: grid;
    grid-template-columns: 1fr minmax(auto, 1219px) 1fr;
    grid-template-rows: minmax(auto, 100vh);
    overflow: hidden;
    z-index: 1;
}
#scene_grid{
    display: grid;
    grid-template-columns: minmax(auto, 100vw);
    grid-template-rows: 1fr minmax(auto, 800px) 1fr;
    overflow: hidden;
}

#scene{
    align-self: center;
    overflow: hidden;
}

#scene>img{    
    max-width: 1250px;
}


@media screen and (orientation: portrait) {
#scene>img{
    width: 100%;
}    
}

@media screen and (max-height: 768px) and (orientation: landscape) {
#scene{
    justify-self: center;
    height: 100vh;
}
#scene>img{
    height: 100%;
    width: auto;
}    
}

@media screen and (aspect-ratio: 4/3) and (orientation: landscape), (aspect-ratio: 683/512)  and (orientation: landscape) {
#scene{
    justify-self: center;
    height: 100vh;
    overflow: hidden;
}

.grid>div#scene>img{
    width: 100%;
    height: auto;
    justify-self: center;
} 
}
/*--------------------меню и сообщения--------------------*/
.grid-head{
    display: grid;
    width: 100vw;
    grid-template-columns: 210px auto minmax(auto, 300px) ;
    position: absolute;
    z-index: 20;
}

.grid-head div{
    padding: 10px 10px 10px 10px;
}

nav{
    display: none;
    position: relative;
}


/*-------------------сообщения------------------------*/

#message{
position: relative;
border-style: solid;
border-radius: 10px;
border-width: 1px;
background-color: dodgerblue;
margin-bottom: 5px;
padding: 10px;
overflow-wrap: break-word;
box-shadow: 0px 1px 3px black;
}

/*-------------меню--------------------------------*/

.menu-container{
    display: grid;
    grid-template-columns: max-content minmax(20px, 40px);
    grid-template-rows: max-content max-content;
    grid-template-areas: "menu reload"
                         "menulist menulist";
    padding: 0px;
}

.menu-container:nth-child(3){
    grid-row:1/2;
}

#menu>img, #reload img{
    width: 16px;
}
.img-menu{
    margin-right: 5px;
} 

#menu{
    grid-area: menu;
    display: inline-flex;
    padding: 0px;
}
#menu div img{
    height: 16px;
    width: 16px;
    padding-bottom: 3px;
}

#reload{
    grid-area: reload;
}
#dropdown-menu{
    grid-area: menulist;
}

nav#dropdown-menu{
    border: 1px solid #BBBBBB;
    border-radius: 6px;
    background-color: #fff;
    max-width: 200px;
}

#reload:hover, #drop-menu:hover{
    background-color: #567AFF;
    cursor: pointer;
    border-radius: 10px;
}

nav ul li {
    border-bottom: 1px solid #6E6767;
    padding: 5px 0px 5px 0px;

}

li:last-child {
  border-bottom: 0;
}

li a:link, #buy a{
    text-decoration-line: none;
    color: #303030;
}

li a:visited {
    color: #303030;
}

li a{
    font-size: 1.1em;
    padding: 6px 12px;
}

li:hover{
    background-color: #A6C7F9;
}

/*----------------social----------------*/

.social{
    display: grid;
    position: absolute;
    grid-template-rows: 1fr min-content 1fr;
    right: 0px;
    z-index: 15;
    height: 100%;

}

/*.social div{
    padding: 5px;
}*/


.ya-share2__title{
    display: none !important;
}

.ya-share2__container_size_m .ya-share2__item{
    margin:0 !important;
}

@media screen and (max-width: 700px){
.social{
    grid-template-rows: auto;
    grid-template-columns: 1fr max-content 1fr;
    right: auto;
    bottom: 0px;
    width: 100%;
    height: auto;
}
li.ya-share2__item{
    display: inline-block !important;
}

li.ya-share2__item a{
    padding: 3px 6px !important;
}

}

